{lib_dirs, ["apps", "deps"]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{erl_first_files, ["lager_transform.erl"]}.
{sub_dirs, ["apps/*"]}.
{deps_dir, "deps"}.
{deps, [
    
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}},
    {bcrypt, ".*", {git, "https://github.com/opscode/erlang-bcrypt.git", {branch, "master"}}}, 
    %{eper, ".*", {git, "https://github.com/cjimison/eper.git", {branch, "master"}}},
    {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
    {jiffy, "", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
    {websocket_client, ".*", {git, "git://github.com/jeremyong/websocket_client.git", "master"}},
    {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}}
]}.

{post_hooks,[{compile, "./relx"}]}.
