{extended_start_script, true}.

{paths, ["apps", "deps"]}.
{include_erts, true}.

{default_release, barrage, "0.1.0"}.
{vm_args,    "./config/vm.args"}.
{sys_config, "./config/sys.config"}.

{release, {barrage, "0.1.0"},[
    % External Application 
    lager,
    gproc,
    crypto,
    bcrypt,
    public_key,
    ssl,
    inets,
    ranch,
    cowboy,
    jiffy,
    uuid,
    
    % Node base Applications
    general,
    commander,
    site,
    
    % Debugging applications
    eper,
    recon,
    tools,
    wx,
    observer,
    runtime_tools,
    webtool,
    appmon,
    debugger
]}.
