%%=====================================================
%% Action: Login
%% Used to simulate a user logging into the system
%%=====================================================
{[
    {name, "login"},
    {url, "login"},
    {type, post},
    {args, [
        {"username", "cjimison"},
        {"password", "p$55w0r@"}
    ]},
    {results,[ 
        {"session", "$SESSION"}
    ]},
    {args_type, http},
    {results_type, json}
]}.

%%=====================================================
%% Action: get_cards
%% Get all the cards from the user
%%=====================================================
{[
    {name, "get_cards"},
    {url, "listcards"},
    {type, get},
    {args, [
        {"sesionID", "$SESSION"}
    ]},
    {args_type, http}
    %% NOTE: I do not care about the results in this case
    %% But if you did you can save them off as such
    %% {results,[ {"cards", "$SESSION"} ]},
    %%{results_type, json}
]}.


