%%=====================================================
%% Action: Login
%% Used to simulate a user logging into the system
%%=====================================================
{[
    {name, <<"login">>},
    {url, <<"/login">>},
    {type, get},
    {args, [
        {<<"username">>, <<"foo">>},
        {<<"password">>, <<"bar">>}
    ]},
    {results,[ 
        {<<"session">>, <<"$SESSION">>}
    ]},
    {args_type, http},
    {results_type, json}
]}.

%%=====================================================
%% Action: get_cards
%% Get all the cards from the user
%%=====================================================
{[
    {name, <<"get_cards">>},
    {url, <<"/listcards">>},
    {type, get},
    {args, [
        {<<"sesionID">>, <<"$SESSION">>}
    ]},
    {args_type, http}
    %% NOTE: I do not care about the results in this case
    %% But if you did you can save them off as such
    %% {results,[ {"cards", "$CARDS"} ]},
    %%{results_type, json}
]}.

%%=====================================================
%% Action: get_card_details
%% Get all the cards from the user
%%=====================================================
{[
    {name, <<"get_card_details">>},
    {url,  <<"/card">>},
    {type, get},
    {args, [
        {<<"cardID">>, <<"1234">>}
    ]},
    {args_type, http}
]}.

%%=====================================================
%% Action: add_card
%% Get all the cards from the user
%%=====================================================
{[
    {name, <<"add_card">>},
    {url,  <<"/card">>},
    {type, get},
    {args, [
        {<<"cardID">>, <<"1234">>}
    ]},
    {args_type, http}
]}.
