%%=====================================================
%% Config: A version of the config for a "general"
%%=====================================================
{[
    {type, general},                        %% Options are general and commander
    {args, [
        {url, <<"http://localhost:1337">>}  %% The server to attack
    ]}
]}.

%%=====================================================
%% Config: A version of the config for a commander 
%%=====================================================
{[
    {type, commander},                  %% Options are general and commander
    {args, [
        {general, 'general@localhost'}, %% Location of the general
        {gunners, 100}                  %% How many gunners I need to setup
    ]}
]}.
