%%=====================================================
%% Behavior: simple_test
%% This is a simple
%%=====================================================
{[
    {name, <<"Simple Test">>},
    {tree, [
        { action, <<"login">>},
        { children, [
            [{ action,<<"get_cards">>}, { children, []}]
        ]}
    ]}
]}.

%%=====================================================
%% Behavior: Random Commands 
%% This will go through a full assult of all the api's
%%=====================================================
{[
    {name, <<"Random Commands">>},
    {tree, [
        { action, <<"login">>},
        { children, [
            [
                { action, <<"random">> },
                { children, [
                    %[{ action, <<"wait">>}, {args, [{time, 1000}]}],
                    %[{ action, <<"random_wait">>}, {args, [{time, 1000}]}],
                    [
                        {action, <<"random">>}, 
                        { children, [
                            [{ action, <<"add_card">>}],
                            [{ action, <<"get_cards">>}]
                        ]},
                        {args, [{min_time, 5000}]}
                    ]
                    %[{ action, <<"get_cards">>}],
                    %[{ action, <<"login">>}]
                ]},
                { args, [{count, 10}]}
            ]
        ]}
    ]}
]}.

