%%=====================================================
%% Behavior: simple_test
%% This is a simple
%%=====================================================
{[
    {name, <<"Simple Test">>},
    {tree, [
        { action, <<"login">>}
    ]}
]}.

%%=====================================================
%% Behavior: Random Commands 
%% This will go through a full assult of all the api's
%%=====================================================
{[
    {name, <<"Random Commands">>},
    {tree, [
        { action, <<"ordered">>},
        { args, [{count, 2}]},
        { children, [
            [{ action, <<"login">>}],
            [
                { action, <<"random">> },
                { children, [
                    [{ action, <<"wait">>}, {args, [{time, 100}]}],
                    [{ action, <<"random_wait">>}, {args, [{time, 100}]}],
                    [
                        {action, <<"random">>}, 
                        { children, [
                            [{ action, <<"add_card">>}],
                            [{ action, <<"get_cards">>}]
                        ]},
                        {args, [{min_time, 500}]}
                    ],
                    [{ action, <<"get_cards">>}],
                    [{ action, <<"login">>}]
                ]},
                { args, [{count, 2}]}
            ]
        ]}
    ]}
]}.

