% Configuration Information
[
    % The cookie name and node name will be defined in the vm.args file
    {general, [
        % Should the general be enabled or not
        % Valid values: true, false
        { enabled,      true },
        { target_ip,    "127.0.0.1" }, 
        { target_port,  1337 }
    ]},
    {site, [
        { web_port,     8080 }
    ]},
    {commander, [
        { enabled,      true },
        { general,      'barrage@127.0.0.1' },
        { gunners,      10 },
        { auto_connect, true }
    ]}
].
