

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
CSS for Orig Design -- To be implemented

#Attack .container:first-child {
	padding-top: 20px;
}

#Attack .container h3 {
	display: inline-block;
	position: relative;
	top: -11px;
	margin-right: 12px;
}

#Attack .nav {
	display: inline-block;
}

.chart img {
	display: block;
	margin: auto;
}

#Chart_Options {
	border: 1px solid #ddd;
}

#Chart_Options button {
	width: 100%;
	font-size: 13px;
}

#ChartInfo {
	clear: both;
	margin-top: 24px;
	text-align: center;
}

#ChartInfo th {
	text-align: center;
}*/

h4 small,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #737373;
	cursor: ;
}

h4.navbar-brand {
	margin: 0 0;
	padding-right: 50px;

}

.navbar-nav a {
	text-align: center;
}

#Attack {
	margin: 0 20px;
}

#Request_Plot {
	float: left;
	width: 17%;
}

#Chart_Options {
	float: right;
	margin-bottom: 24px;
}

#Chart_Options .btn {
	margin: 0 4px;

}

.ChartContainer {
	float: left;
	width: 83%;
	padding-left: 50px;
}

.ChartInfo {
	text-align: center;
}

.ChartInfo th{
	text-align: center;
}

#Chart_Toggle {
	background-color: #f5f5f5;
	margin-top: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#Attack #Chart_Toggle .panel-heading {
	padding-bottom: 0px;
	margin-right: 12px;
}

#Attack #Chart_Toggle > div:last-child {
	background-color: #fff;
	padding: 0 15px;
}
